<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/abingham/Desktop/Screenshot 2019-07-08 at 08.52.00.png</key>
	<data>
	Ym9vaxADAAAAAAQQMAAAAC6Bln3NIhp6AFGaBuH7864lkA1SX/KJ1a158N5skMdhAAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGFiaW5naGFtBwAAAAEB
	AABEZXNrdG9wACUAAAABAQAAU2NyZWVuc2hvdCAyMDE5LTA3LTA4IGF0IDA4LjUyLjAw
	LnBuZwAAABAAAAABBgAAEAAAACAAAAAwAAAAQAAAAAgAAAAEAwAAI00GAAAAAAAIAAAA
	BAMAAB3ECQAAAAAACAAAAAQDAAAuxAkAAAAAAAgAAAAEAwAAMrNZAgMAAAAQAAAAAQYA
	AIgAAACYAAAAqAAAALgAAAAIAAAAAAQAAEHBaY/K7D3fGAAAAAECAAABAAAAAAAAAA8A
	AAAAAAAAAAAAAAAAAAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABm
	aWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAEH/zvgEAAAgAAAAABAAA
	Qb2I5mcAAAAkAAAAAQEAAEMzMUM5RjhGLTYzODAtMzA0QS1BMEJCLUZGRUIyNDE5RjRB
	QRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
	AAAaAAAAAQEAAE5TVVJMRG9jdW1lbnRJZGVudGlmaWVyS2V5AAAEAAAAAwMAAJcFAADY
	AAAA/v///wEAAAAAAAAAEQAAAAQQAABwAAAAAAAAAAUQAADIAAAAAAAAABAQAADwAAAA
	AAAAAEAQAADgAAAAAAAAAAIgAAC8AQAAAAAAAAUgAAAsAQAAAAAAABAgAAA8AQAAAAAA
	ABEgAABwAQAAAAAAABIgAABQAQAAAAAAABMgAABgAQAAAAAAACAgAACcAQAAAAAAADAg
	AADIAQAAAAAAAAHAAAAQAQAAAAAAABHAAAAgAAAAAAAAABLAAAAgAQAAAAAAABDQAAAE
	AAAAAAAAANABAID0AQAAAAAAAA==
	</data>
</dict>
</plist>
